@media screen and (max-width: 390px) {

    .page {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
    }
    .page__wrapper {
        display: block;
        width: 100%;
        height: 100%;
    }
    .screen {
        flex: 0;
        position: relative;  
    }
    .screen__content {
        padding: 0px;
        z-index: 0;
    }

    .first__image {
        display: none;
    }
    .second__image {
        display: none;
    }
    .mobile {
        display: none;
    }
    .page__scroll {
        display: none;
    }

}