@font-face {
	font-family: 'Malina'; 
	src: url(../fonts/Malina.otf); 
}
/* font-family: 'Montserrat', sans-serif; */

.wrapper {
    min-height: 100%;
}
/*-------------------*/
.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.page__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.page__screen {
    
}
.page__pagination {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0px, -50%);
    display: flex;
    flex-direction: column;
}
.page__bullet {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}
.page__bullet_active {
    background-color: white;
}
.page__scroll{
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
.page__drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
/*--------------------*/
.screen {
    flex: 1 0 100%;
    position: relative;  
}
.screen__content {
    padding: 0 100px;
    z-index: 2;
}
/* Первый экран */
.screen__first {
    background-color: #EFE9E0;
}
.screen__title {
    font-family: 'Malina';
    font-size: 36px;
    color: #443133;
}
.title__h1 {
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}
.first__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.first__button {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);

}
a.button__open {
    font-family: 'Malina';
    font-size: 20px;
    color: #CDC6BB;
    background-color: white;
    padding: 51px 16px;
    border-radius: 50%;
    transition: 0.5s;
}
a.button__open:hover {
    background-color: #CDC6BB;
    color: white;
    transition: 0.5s;
}
/*--------------------------*/
/* Второй экран */
.screen__second {
    background-color: #B6EFF7;
}
.second__flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;    
}
.second__flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second__h2 {
    width: 158px;
    text-align: center;
}
.second__title-color {
    color: #3CB7C6;
}
.second__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #443133;
    text-align: center;
    margin-top: 10px;
    width: 297px;
}
.second__text-weight {
    font-weight: 600;
}
.second__button {
    margin-top: 50px;
}
a.button__order {
    font-family: 'Malina';
    font-size: 20px;
    color: #3CB7C6;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: white;
    transition: .5s;
}
a.button__order:hover {
    background-color: #3CB7C6;
    color: White;
    transition: .5s;
}
.second__image {
    margin-left: 100px;
}
/*--------------------------*/
/* Третий экран */
.screen__third {
    background-color: #FCE4A4;
}
.third__h2 {
    text-align: center;
    margin-bottom: 100px;
}
.third__grid {
    margin-top: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.third__text {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.third__text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #443133;
    width: 440px;
}
.third__text-span {
    font-weight: 700;
}
.third__line {
    position: absolute;
    width: 2px;
    height: 400px;
    background-color: #443133;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*--------------------------*/
/* Четвертый экран */
.screen__fourth {
    background-color: #EFE9E0;
}
.fourth__h2 {
    text-align: center;
    margin-top: 100px;
}
.fourth__form-item {
    text-align: center;
    margin-top: 40px;
}
input.fourth__form-input {
    font-size: 20px;
    font-family: 'Malina';
    color: #443133;
    text-align: center;
    width: 400px;
    border-bottom: 2px solid #443133;
    background-color: #EFE9E0;
}
.fourth__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}
.fourth__card-flex {
    display: flex;
    justify-content: center;
}
.fourth__card {
    background-color: white;
    width: 220px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    transition: all 0.3s ease 0s;
}
input.fourth__card-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
label.fourth__card-label {
    background-color: white;
    width: 220px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.fourth__card-checkbox:checked + .fourth__card-label {
    box-shadow: 0px 0px 20px #CDB186;
    transition: all 0.3s ease 0s;
}
.fourth__card-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.fourth__card-title h3{
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #443133;
    text-align: center;
}
.fourth__card-items {
    margin-top: 20px;
}
.fourth__card-item p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #443133;
    text-align: center;
    margin-bottom: 10px;
}
.fourth__card-price p{
    font-size: 24px;
    font-family: "Malina";
    color: #443133;
    text-align: center;
}
.card__price-span {
    font-size: 14px;
}
.fourth__card-button {
    text-align: center;
    margin-top: 10px;
}
.fourth__card-button button{
    font-size: 20px;
    font-family: "Malina";
    color: white;
    text-align: center;
    background-color: #CDB186;
    padding: 5px 28px;
    border-radius: 50px;
}
.fourth__checkbox-container {
    align-items: center;
    position: relative;
}
.fourth__checkbox-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
label.fourth__form-label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #443133;
    position: relative;
    display: inline-flex;
    align-items: center;
}
input.fourth__form-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.fourth__form-label::before {
    content: '';
    display: inline-flex;
    width: 16px;
    height: 16px;
    background-color: white;
    box-shadow: #4431336c 0px 0px 2px;
    border-radius: 5px;
    margin-right: 10px;
}
.fourth__form-label::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #CDB186;
    border-radius: 2px;
    position: absolute;
    top: 3px;
    left: 3px;
    transform: scale(0);
    transition: transform 0.2s ease 0s;
}
.fourth__form-checkbox:checked + .fourth__form-label::after {
    transform: scale(1);
    transition: transform 0.2s ease 0s;
}
.fourth__checkbox-item p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #443133;
}
.fourth__form-total {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total__title p {
    font-size: 40px;
    font-family: 'Malina';
    color: #443133;
}
.total__price p {
    font-size: 40px;
    font-family: 'Malina';
    color: #443133;
}
.total__price-span {
    font-size: 24px;
}
.fourth__form-button {
    text-align: center;
}
.fourth__form-button button{
    font-size: 32px;
    font-family: "Malina";
    color: white;
    text-align: center;
    background-color: #CDB186;
    padding: 10px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
}
.fourth__form-button button:hover {
    background-color: white;
    color: #CDB186;
    transition: 0.5s;
}
.fourth__footer {
    margin-top: 40px;
}
.footer__text p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #443133; 
    text-align: center;
    margin-bottom: 10px;
}
.footer__text-span {
    font-weight: 600;
}

/*--------------------------*/


@media screen and (max-height: 750px) {
    .title__h1 {
        top: 5%;
    }
    .fourth__h2 {
        margin-top: 50px;
    }
}
@media screen and (max-width: 1100px) {
    .screen__content {
        padding: 0 20px;
        z-index: 2;
    }
    .third__text p {
        font-size: 20px;
        width: 350px;
    }
    .page__pagination {
        display: none;
    }
    .second__image img {
        width: 200px;
    }
}
